0.body{
    background-color: gray;
}




.div1{
    background-color: #ffff;
    height: 500px;
    border: black 10px dotted;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    viewport-fit: 50;
}

.div2{
    background-color: yellow;
    height: 50px;
    width: 30%;
    
}

.div3{
    background-color: orange;
    height: 100px;
    width: 30%;
    display: flex;
}

.div4{
    background-color: green;
    color: #ffff;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 50px;
}